@font-face{
	font-family: CeraPro-Regular;
	src:url('./fonts/CeraPro-Regular.woff');
}

 body{
  background: black;
  padding: 0px;
  font-family: CeraPro-Regular;
}
h1 {
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
}
li a{
  color: white;
}

li{
	text-align: center;
}
#map{
  margin: 40px auto 0px auto;
 }

img{
	align-items: center; 
	display: block;
	margin-right: auto;
	margin-left: auto;
}
