body{
  background-image: radial-gradient(rgba(234, 248, 76, 0.4), rgba(165, 225, 55, 0.5123) , rgba(86, 200, 17, 0.71));
  background-size: cover;
  margin: 0px;
}
@font-face{
	font-family: CeraPro-Regular;
	src:url('./fonts/CeraPro-Regular.woff');
}

@font-face{
	font-family: CeraPro-Bold;
	src: url('./fonts/CeraPro-Bold.woff');
}
h1 {
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  font-family: CeraPro-Bold;
  font-size: 55px;
  margin-bottom: 1em;
}
h3 {
  color: rgba(41, 191, 0);
  font-family: CeraPro-Bold;
}
#map{
  margin: 40px auto 0px auto;
 }

img{
	align-items: center; 
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.links{
	  background-color: #61b81a; /* Green */
  	border-radius: 8px;
  	border: none;
  	color: white;
 	  padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18.5px;
    margin: 2em;
}
.links span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

.links span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.25s;
}

.links:hover span {
  padding-right: 20px;
}

.links:hover span:after {
  opacity: 1;
  right: 0;
}
.title{
  text-align: center;
}
.custom-input {
  width: 32em;
  align-items: center;
}
#submit-btn {
    background-color: #61b81a; /* Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18.5px;
}
#location-input {
    padding: 0.3em;
    font-size: 20px;
    border-radius: 10px; 
}
@media (max-width: 460px)
{
  .links{
    display:none;
  }
}
